<main>
    <div class="box menu">
        <ul>
            <li routerLinkActive="active"><a routerLink="/introduction">introduction</a></li> <br>
            <li routerLinkActive="active"><a routerLink="/systeme-conception">Systèmes de conception</a></li><br>
            <li routerLinkActive="active"><a routerLink="/pourquoi-lukapay">Pourquoi lukaPay</a></li><br>
            <li routerLinkActive="active"><a routerLink="/but">Buts et objectifs </a></li><br>
            <li routerLinkActive="active"><a routerLink="/pcharge">Prise en charge du navigateur</a></li><br>
            <li routerLinkActive="active"><a routerLink="/commencer">Commencer</a></li><br>
            <li routerLinkActive="active"><a routerLink="/Pcomponent">Mon premier composant</a></li><br>
            <li routerLinkActive="active"><a routerLink="/faq">FAQ</a></li><br>
        </ul>

    </div>


    <div class="box contenu">
 <h2>Prise en charge du navigateur</h2>
        <p> lukaPay est un composant Web qui s'exécutent en mode natif ou quasi natif dans tous les navigateurs de bureau et mobiles largement utilisés.ne pas devenir ou être considéré comme un "framework", mais plutôt notre objectif est de fournir une excellente expérience de développeur et des outils attendus d'un framework, tout en utilisant les standards web dans le navigateur au moment de l'exécution. Dans de nombreux cas, LukaPay peut être utilisé en remplacement des frameworks frontaux traditionnels étant donné les capacités désormais disponibles dans le navigateur, bien que son utilisation en tant que telle ne soit certainement pas nécessaire. </p>
  
    </div>
    <div class="box norme">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, omnis, iusto qui totam repellendus porro sit ratione aliquid ipsa repudiandae dicta libero dolores tenetur error officiis nihil sunt. Quae, ut.</p>
    </div>
</main>
