 
 
 <header>
    <div class="divImg">
      <a routerLink="/accueil"><img class="im" src="../assets/logo-black.png" alt="">
      <span> lukaPay</span>
    </a>
    </div>

    <nav>
      <ul>
        <li routerLinkActive="active"><a routerLink="/accueil">Accueil</a></li>
        <li routerLinkActive="active"><a routerLink="/doc">Documents</a></li>
        <li ><a routerLink="">Ressources</a></li>
        <li><a routerLink="">Blog</a></li>
        <li><i style="font-size: 15px;" class="fab fa-twitter"></i></li>
        <li><i style="font-size: 15px;" class="fab fa-github"></i></li>
        
        

      </ul>
      <i class="fas fa-bars"><li routerLinkActive="active"><a routerLink="/accueil">Accueil</a></li>
        <li routerLinkActive="active"><a routerLink="/doc">Documents</a></li>
        <li ><a routerLink="">Ressources</a></li>
        <li><a routerLink="">Blog</a></li></i>


    </nav>
  </header>
  
    <router-outlet></router-outlet>


  <footer>
    <a routerLink="/accueil"><img src="../assets/logo-black.png" alt=""></a>
      <span> lukaPay</span>
      <div> &copy; 2020 lukaPay. Publié sous licence MIT</div>
    
  </footer>
