<main>
    <div class="box menu">
        <ul>
            <li routerLinkActive="active"><a routerLink="/introduction">introduction</a></li> <br>
            <li routerLinkActive="active"><a routerLink="/systeme-conception">Systèmes de conception</a></li><br>
            <li routerLinkActive="active"><a routerLink="/pourquoi-lukapay">Pourquoi lukaPay</a></li><br>
            <li routerLinkActive="active"><a routerLink="/but">Buts et objectifs </a></li><br>
            <li routerLinkActive="active"><a routerLink="/pcharge">Prise en charge du navigateur</a></li><br>
            <li routerLinkActive="active"><a routerLink="/commencer">Commencer</a></li><br>
            <li routerLinkActive="active"><a routerLink="/Pcomponent">Mon premier composant</a></li><br>
            <li routerLinkActive="active"><a routerLink="/faq">FAQ</a></li><br>
        </ul>

    </div>


    <div class="box contenu">
         <h2>Systèmes de conception</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perspiciatis, necessitatibus enim culpa reprehenderit minus maiores unde nam incidunt in cumque quia, ea adipisci itaque laborum quos aperiam a fugit. </p>
        
    </div>
    <div class="box norme">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, omnis, iusto qui totam repellendus porro sit ratione aliquid ipsa repudiandae dicta libero dolores tenetur error officiis nihil sunt. Quae, ut.</p>
    </div>
</main>
