main{
    display: flex;
    padding: 0% 10% 0% 10% ;
    background: #f8F8fc;
}
.banner{
    width: 100%;
}
.commencer{
    width: 100%;
    margin-top: 15%;
    font-size: 20px;
    font-weight: normal;
    color: #505061;
}
.started{
    width: 100%;
    text-align: center;

}

@media screen and (max-width:997px){ 
    main{
        display: block;
        padding: 0% 10% 0% 10% ;
        background: #f8F8fc;
        text-align: center;
    }
    svg{
        width: 100%;
        height: 100%;
    }
    .banner{
        padding-top: 20%;
        width: 100%;
    }
    .commencer{
        width: 100%;
        margin-top: 5%;
        font-size: 20px;
        font-weight: normal;
        color: #505061;
        padding-bottom: 30%;
    }


}
